{% extends "base.html" %}

{% load smarty_tags wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
  {# Twitter summary card with large image #}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@NASAJPL" />
  <meta name="twitter:title" content="{{ page.title|smartypants }}" />
  <meta name="twitter:description" content="{{ page.introduction }}">
  {# Twitter optimized 2:1 aspect ratio #}
  {% image page.hero_banner fill-1500x750 as twitter_image %}
  <meta name="twitter:image" content="{{ twitter_image.url }}">
  <meta name="twitter:image:alt" content="{{ page.hero_banner.alt }}">

  {# Facebook opengraph tags #}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="NASA JPL" />
  <meta property="og:url" content="{{ request.site.root_url }}{% pageurl page %}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.introduction }}" />
  {# FB optimized 1:1 aspect ratio #}
  {% image page.hero_banner fill-1500x1500 as fb_image %}
  <meta property="og:image" content="{{ fb_image.url }}" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="1500" />
{% endblock extra_head %}

{% block content %}
  <main class="max-w-container mx-auto px-2 py-4 md:p-6 lg:p-12 xl:px-4 2xl:px-0">
    <div class="heading uppercase text-sm mb-2">
      <a class="text-link" href="{% pageurl page.get_parent %}">{{ page.get_parent.title }}</a>
      | {{ page.publication_date|date:"F j, Y" }}
    </div>

    <h1 class="heading text-3xl mb-4 md:text-4xl lg:text-5xl">{{ page.title|smartypants }}</h1>

    <figure class="mb-4">
      {% image page.hero_banner fill-1200x675 class="mb-2" %}

      <figcaption class="text-xs text-shuttleGray">
        {{ page.hero_banner.caption }}

        {% if page.hero_banner.credit %}
          Credit: {{ page.hero_banner.credit }}
        {% endif %}
      </figcaption>
    </figure>

    <div class="flex flex-row">

      {# main column#}
      <article class="md:w-2/3 lg:w-7/12">
        <div class="italic py-3 border-silver border-t border-b mb-4">
          {{ page.introduction }}
        </div>

        {% include_block page.body %}
      </article>

    </div>
  </main>

  {% with related_links=page.related_links.all %}
    <div class="bg-mystic">
      <div class="max-w-container mx-auto px-2 py-6 md:px-6 md:py-8 lg:py-12 2xl:px-0">
        <h2 class="heading text-center text-3xl mb-4 md:mb-6 md:text-4xl">
          You Might Also Like
        </h2>

        <ul class="mb-10 md:flex md:flex-row md:-mx-2 md:mb-14 lg:mb-20">
          {% for related_link in page.related_links.all %}
            {% with related_page=related_link.related_page.specific %}
              <li class="mb-4 md:mb-0 md:w-1/3 md:px-2">
                <a href="{% pageurl related_page %}" class="group">
                  <div class="relative">
                    {% image related_page.hero_banner fill-400x225 class="mb-2" %}

                    <div class="bg-blueBayoux absolute inset-0 p-4 text-white flex flex-col opacity-0 group-hover:opacity-100 transition-opacity duration-150">
                      <span class="flex-1">
                        {{ related_page.introduction }}
                      </span>

                      <svg class="w-4 h-4 self-end fill-current"><use xlink:href="#svg--forward"></use></svg>
                    </div>
                  </div>

                  <span class="font-bold">
                    {{ related_page.title|smartypants }}
                  </span>
                </a>
              </li>
            {% endwith %}
          {% endfor %}
        </ul>

        <div class="text-center">
          <a href="{% pageurl page.get_parent %}" class="font-bold uppercase text-sm border-2 border-shuttleGray text-shuttleGray p-2 rounded-lg">More News</a>
        </div>
      </div>
    </div>
  {% endwith %}
{% endblock content %}
