{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <nav class="bg-mystic">
          <div class="flex flex-row items-center px-2 py-4 md:px-6">
            <a href="#">
              <img class="h-12 md:h-16" src="{% static 'images/meatball.png' %}" srcset="{% static 'images/meatball.png' %}, {% static 'images/meatball@2x.png' %} 2x" alt="NASA">
            </a>
            <a href="#">
              <img class="h-8 md:h-10" src="{% static 'images/jpl.png' %}" srcset="{% static 'images/jpl.png' %}, {% static 'images/jpl@2x.png' %} 2x" alt="Jet Propulsion Laboratory">
            </a>
          </div>
        </nav>

        {% block content %}{% endblock %}

        <footer>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'scripts/bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
